<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<TITLE>HBNB</TITLE>
	</HEAD>
	<BODY>
		{% if obj.__class__.__name__ == 'list' %}
		<H1>States</H1>
		<ul>
			{% for state in obj %}
			<LI>{{ state.id|e }}: <B>{{ state.name }}</B></LI>
			{% endfor %}
		</ul>
		{% elif obj.__class__.__name__ == 'None' %}
		<H1>Not found!</H1>
		{% else %}
		<H1>State: {{ obj.name }}</H1>
		<H3>Cities:</H3>
		<UL>
			{% for city in obj.cities %}
            <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
			{% endfor %}
			</UL>
		{% endif %}
	</BODY>
</HTML>
